<div id="signup-section">
  <div class="container col-md-5" id="signup-box">
    <h1 id="signup-title">SignUp</h1>
    <div
        @fade
        *ngIf="mandatory"
        class="validation-info">
      <h5>All fields are mandatory.</h5>
    </div>
    <form [formGroup]='signUpForm' (ngSubmit)="onSubmit()">
      <input 
        placeholder="Name"
        class="form-control"
        formControlName="name">
      <div 
          @fade
          *ngIf="name.touched && name.invalid"
          class="validation-info">
        <ng-container *ngIf="name.touched">
          <ng-container *ngIf="name.errors.required">
            <p>Name is required.</p>
          </ng-container>
        </ng-container>
      </div>

      <input 
        placeholder="Username" 
        class="form-control login-fields"
        formControlName="username">
      
      <div formGroupName="passwordgroup">
        <input 
          placeholder="Password" 
          class="form-control login-fields"
          formControlName="password">
        <div 
          @fade
          *ngIf="username.touched && username.invalid"
          class="validation-info">
          <ng-container *ngIf="username.touched">
            <ng-container *ngIf="username.errors.required">
              <p>Username is required.</p>
            </ng-container>
            <ng-container *ngIf="username.errors.minlength">
              <p>Username must be atleast {{ username.errors.minlength.requiredLength }} characters.</p>
            </ng-container>
            <ng-container *ngIf="!username.errors.hasUniqueUsername && !username.errors.minlength && !username.errors.required">
              <p>Username already taken.</p>
            </ng-container>
          </ng-container>
        </div>
        <div 
            @fade
            *ngIf="password.touched && password.invalid"
            class="validation-info">
          <ng-container *ngIf="password.touched">
            <ng-container *ngIf="password.errors.required">
              <p>Password is required.</p>
            </ng-container>
            <ng-container *ngIf="password.errors.minlength">
              <p>Password must be atleast {{ password.errors.minlength.requiredLength }} characters.</p>
            </ng-container>
          </ng-container>
        </div>
        <input 
          placeholder="Confirm Password" 
          class="form-control"
          formControlName="confirmpassword">
      </div>
      <div 
          @fade
          *ngIf="password.valid"
          class="validation-info">
        <ng-container *ngIf="passwordgroup.errors?.passwordsShouldMatch">
          <p>Passwords donot match.</p>
        </ng-container>
      </div>

      <input 
        placeholder="example@domain.com"
        class="form-control"
        formControlName="email">
      <div 
          @fade
          *ngIf="email.touched && email.invalid"
          class="validation-info">
        <ng-container *ngIf="email.errors.required">
          <p>Email is required.</p>
        </ng-container>
        <ng-container *ngIf="email.errors.pattern">
          <p>Invalid Email.</p>
        </ng-container>
        <ng-container *ngIf="!email.errors?.hasUniqueEmail && !email.errors.required && !email.errors.pattern">
          <p>Email already registered.</p>
        </ng-container>
      </div>
    
      <input 
        placeholder="Employee ID"
        class="form-control"
        formControlName="employeeid">
      <div 
          @fade
          *ngIf="employeeid.touched && employeeid.invalid"
          class="validation-info">
      </div>

      <button type="submit" class="btn btn-info">Register</button>
      <a routerLink="/login">Already a member?</a>
    </form>
  </div>
</div>